*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
*.log
magic.db
*.DS_STORE
*.sass-cache
# YARD artifacts
.yardoc
_yardoc
schedule.rb
doc/
