.container.text-center
  %h2.error-box
    ERROR: You need to do a get request to /magic and give correct query string parameters.
  %hr
  %h3.error-box.example
    example: magicbutton.instructure.com/magic?patchsetinfo=git fetch ssh://jake@gerrit.instructure.com:29418/canvas-lms refs/changes/08/15708/28 && git cherry-pick FETCH_HEAD
  %img{:id => "error-image", :src => 'images/error.gif', :alt => 'error'}
